<?xml version="1.0" encoding="UTF-8" ?>
<!-- THIS IS THE ENTRY POINT TO LAUNCH YOUR ROBOT'S BEHAVIOR -->
<launch>
    
    <!-- Use sim time for simulations-->
    <!--<param name="use_sim_time" value="true" />-->
    
    <!-- Start "robot_0"-->
    <node name="patrolbot_0" pkg="robotcraft2017_patrol" type="patrolbot" output="screen"> 
        <param name="robot_id" value="0" /> 
    </node>
     
</launch>
